<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fanavard.alisherafat.fanavardpersiancalendar">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".service.BroadcastReceivers"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".app.Widget2x2"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/persiancalendar_provider2x2"/>
        </receiver>

        <service android:name=".service.ApplicationService"/>

        <activity
            android:name=".view.activity.GoogleEventsActivity"
            android:label="@string/google_events_label"
            />

        <activity android:name=".view.activity.ServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data  android:mimeType="text/plain"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
